<h4 style="margin-left: 170px;"> Add Todos </h4>
<form>
    <div class="mb-3">
      <label for="title" class="form-label">Todo Title</label>
      <input type="email" class="form-control" id="title" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Todo Description</label>
      <input type="password" class="form-control" id="desc">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>